$tan: #c59d5f;

#menuItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menuItem {
    width: 50rem;
    display: inline-flex;
}
.title {
    width: 50%;
    text-transform: capitalize;
}
.price {
    color: $tan;
}
.desc {
    &::first-letter {
        text-transform: capitalize;
    }
}
.image {
    border: .3rem solid $tan;
    border-radius: .3rem;
}