$tan: #c59d5f;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f5f8;
}

#title {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    font-size: 2.4rem;
}
#titleUnderline {
    background-color: $tan;
    border: none;
    width: 4.5rem;
    height: .27rem;
    margin-bottom: 2rem;
}

#navbar {
    display: flex;
    width: 25rem;
    margin: 0 auto;
    justify-content: space-between;
}
.navBtn {
    color: $tan;
    font-size: 1.2rem;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    &:hover {
        color: #a87e3f;
    }
}

#empty {
    width: 50rem;
}